# Pycharm trash
.idea
__pycache__/

# virtualenv
.venv
venv/
venv

# Distribution
.DS_Store
.cache/

# python identifiers
.python-version
.pytest_cache/

# mypy
.mypy_cache

# coverage
.coverage
coverage.xml

# pytest
assets/

# pypi assets
dist/
build/
*.egg-info

# db
*.sqlite

# terraform
.terraform*
*tfstate*
.keys


HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.terraform
*.terraform.tfstate
*.terraform.tfstate.backup

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
